:root {
  --blue: #1A47D8;
  --background-blue: #171A24;
  --background-blue-25: rgba(23, 26, 36, 25%);
  --background-blue-50: rgba(23, 26, 36, 50%);
  --background-blue-75: rgba(23, 26, 36, 75%);
  --gold: #E4C357;
  --gold-blue: #777a69;
  --light-blue: #5466A0;
  --light-blue-50: rgba(84, 102, 160, .5);
  --light-blue-0: rgba(84, 102, 160, 0);
}
@font-face {
  font-family: 'Roboto';
  src:
    url('./fonts/Roboto/static/Roboto-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Monsieur';
  src:
    url('./fonts/Monsieur_La_Doulaise/MonsieurLaDoulaise-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mountains';
  src:
    url('./fonts/Mountains_of_Christmas/MountainsofChristmas-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fjalla';
  src:
    url('./fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Limelight';
  src:
    url('./fonts/Limelight/Limelight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}